body{
	background-color:rgb(26,34,49);
	color:white;
}

a{
	cursor:default;
	color:white;
	text-decoration:none;
}

a:hover{
	text-decoration:none;
}

p{
	text-align:center;
}

p.Time{
	font-size:20px;
}

h1{
	text-align:center;
}

h3{
	text-align:center;
}

table{
	width:95%;
	height:5%;
	border:1px solid black;
	border-radius:10px;
	background-color:black;
	margin-left:auto;
	margin-right:auto;
}

table:hover{
	border:1px solid black;
	border-radius:10px;
	background-color:rgb(25,113,230);
	margin-left:auto;
	margin-right:auto;
	transform:scale(1.05);
	box-shadow:5px 5px 2px rgba(0,0,0,0.8);
	cursor:pointer;
}

td{
	text-align:center;
	vertical-align:middle;
}

img{
	vertical-align:middle;
}

.Special_Button{
	padding: 0.6em 2em;
	border: none;
	outline: none;
	color: rgb(255, 255, 255);
	background: #111;
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 10px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.Special_Button:hover{
	border:1px solid black;
	border-radius:10px;
	margin-left:auto;
	margin-right:auto;
	transform:scale(1.05);
	box-shadow:5px 5px 2px rgba(0,0,0,0.8);
	cursor:pointer;
}

.Special_Button:before {
	content: "";
	background: linear-gradient(
		45deg,
		#ff0000,
		#ff7300,
		#fffb00,
		#48ff00,
		#00ffd5,
		#002bff,
		#7a00ff,
		#ff00c8,
		#ff0000
	);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	-webkit-filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: Glowing_Special_Button 20s linear infinite;
	transition: opacity 0.3s ease-in-out;
	border-radius: 10px;
}

@keyframes Glowing_Special_Button {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.Special_Button:after {
	z-index: -1;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: #222;
	left: 0;
	top: 0;
	border-radius: 10px;
}
